@import url("https://use.typekit.net/rhz8bub.css");

* {
  padding: 0;
  margin: 0;
  font-family: highgate,sans-serif;
  font-style: normal;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlogo {
  width: 15vw;
  height: 15vh;

  padding: 1em;

  background: none;
  cursor: pointer;

  transition: transform 500ms ease;
}

.navlinks {
  font-weight: 600;
  font-size: clamp(3rem, 6vw, 3rem);
}

.navlink {
  padding: 2em;
  
  text-decoration: none;

  color: inherit;

  transition: opacity 500ms ease, color 500ms ease;
}

.navlinks:hover > .navlink {
  opacity: 0.3;
}

.navlinks:hover > .navlink:hover {
  opacity: 1;
  color: #71AB4E;
}

.navlogo:hover {
  transform: scale(1.2);
}